* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;

}

.container {
    max-width: 1040px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 26px;
    color: #fff;
    background-color: #487ece;
    padding: 10px;
}

.content { 
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContent {
    background-color: #ffffffbb;
    max-width: 250px;
    float: right;
    padding: 20px;
    margin: 20px;

}

.formContent-h2 {
    font-size: 16px;
}

.padBottom {
    padding-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
}

input[type="submit"] {
    background-color: #487ece;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #fff;
    padding: 20px;
}

.picture {
    width: 160px;
}

.description {
    max-width: 40%;
    margin-left: 40px;
}

.description h3, .description p {
    padding: 10px;
}